body {
    margin: 0;
    background: linear-gradient(#0b0b0b, #141414);
    color: #eaeaea;
    font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 25px 0;
    color: #ff2b2b;
    text-shadow: 0 0 15px #ff0000;
}

table {
    width: 85%;
    margin: auto;
    border-collapse: collapse;
    background: #0f0f0f;
    box-shadow: 0 0 30px rgba(255,0,0,0.25);
    border-radius: 12px;
    overflow: hidden;
}

th {
    background: #140000;
    color: #ff4d4d;
    padding: 12px;
}

td {
    padding: 12px;
}

tr:nth-child(even) {
    background: #161616;
}

tr:hover {
    background: #250000;
}
body {
    margin: 0;
    background: linear-gradient(#0b0b0b, #141414);
    color: #eaeaea;
    font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 25px 0;
    color: #ff2b2b;
    text-shadow: 0 0 15px #ff0000;
}

table {
    width: 85%;
    margin: auto;
    border-collapse: collapse;
    background: #0f0f0f;
    box-shadow: 0 0 30px rgba(255,0,0,0.25);
    border-radius: 12px;
    overflow: hidden;
}

th {
    background: #140000;
    color: #ff4d4d;
    padding: 12px;
}

td {
    padding: 12px;
}

tr:nth-child(even) {
    background: #161616;
}

tr:hover {
    background: #250000;
}
