body {
    background: #0f0f0f;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: red;
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
}

th {
    background: #111;
}

tr:nth-child(even) {
    background: #1a1a1a;
}

